/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }
/* End of Cross Browser Compatability CSS */
body {
  background-color: #666;
}

#top {
  height:20px;
  width: 100%;
  background-color: transparent;
}

#main {
	margin: 0 auto;
  background-color: white;
	width: 300px;
	height: 550px;
  border-radius:10px;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 2em;
  padding: 1em;
  text-align: center;
  color: #A62639;
}

#customise {
  height:80px;
  width:100%;
  margin:0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-align: center;
  color: #666;
  font-variant: small-caps;
}

.num {
  font-size: 30px;
  line-height: -10px;
}

#work {
  width: 45%;
  float:left;
  margin-left: 3%;
}

#rest {
  width: 45%;
  float:left;
  margin-left: 3%;
}

#timer {
  top: 100px;
  height: 200px;
  width: 200px;
  border-radius:50%;
  background-color: #666;
  color: #eee;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  text-align: center;
  line-height: 200px;
  margin: 0 auto;
}

#space {
	height:20px;
}

#title {
  width:200px;
  height:50px;
  padding:0.5em;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  text-align: center;
  color: #666;
}